Flask # for web framework
Flask-SQLAlchemy # for database
Flask-Migrate # for database migration
Flask-Login # for user login
Flask-CORS  # for cross origin resource sharing
mysqlclient # for mysql database
SQLAlchemy # for database
SQLAlchemy-Utils # for database utils
python-dotenv # for environment variables
Werkzeug # for password hashing
