.nav-account {
  margin-left: auto;
}

.nav-account .nav-link {
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 5px;
}
.nav-account .nav-link:hover {
  background-color: #f8f9fa;
}

.strain-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.strain-image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
}

.strain-concentrations {
  margin-top: 15px;
}

.strain-card-buttons {
  margin-top: 15px;
}
