<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<!-- SEO keywords -->
<meta
  name="keywords"
  content="cannabis strains, marijuana strains, strain database, strain information, strain search, cannabis filters, marijuana filters, terpene profiles, THC concentration, CBD concentration, strain effects, strain flavors, strain aromas, medical cannabis strains"
/>

<!-- SEO description -->
<meta
  name="description"
  content="STRAIN.gg - A free and public platform to explore, filter, and sort strains of cannabis based on parameters like concentration, terpene profiles, effects, and more."
/>
