{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4">
	  <img src="{{ url_for('static', filename='images/team/fam_1.jpg') }}" alt="Team Member 1" class="img-fluid rounded-circle mb-3">
	  <h4 class="text-success">Johanna Avila</h4>
	  <p>We have no titles currently</p>
	  <a href="https://github.com/jobabyyy" target="_blank" class="btn btn-outline-success btn-sm">GitHub Profile</a>
	</div>
	<div class="col-md-4">
	  <img src="{{ url_for('static', filename='images/team/fam_2.jpg') }}" alt="Team Member 2" class="img-fluid rounded-circle mb-3">
	  <h4 class="text-success">Taylor Woodson</h4>
	  <p>We have no titles currently</p>
	  <a href="https://github.com/WoodsonTD" target="_blank" class="btn btn-outline-success btn-sm">GitHub Profile</a>
	</div>
	<div class="col-md-4">
	  <img src="{{ url_for('static', filename='images/team/fam_3.jpg') }}" alt="Team Member 3" class="img-fluid rounded-circle mb-3">
	  <h4 class="text-success">Chris Stamper</h4>
	  <p>We have no titles currently</p>
	  <a href="https://github.com/ZeroDayPoke" target="_blank" class="btn btn-outline-success btn-sm">GitHub Profile</a>
	</div>
</div>
{% endblock %}
