{% extends 'base.html' %}

{% block content %}
    <h1>Account</h1>
    <p>Email: {{ email }}</p>
    <p>User Type: {{ role }}</p>
    <h2>Favorite Strains</h2>
    <ul>
        {% for strain in favorite_strains %}
        <li>
          {{ strain.name }}
          <form action="{{ url_for('web_routes.remove_favorite') }}" method="post" class="d-inline">
            <input type="hidden" name="strain_id" value="{{ strain.id }}">
            <button type="submit" class="btn btn-link text-danger p-0">Remove</button>
          </form>
        </li>
      {% endfor %}
    </ul>
{% endblock %}
