{% extends "base.html" %} {% block title %} Account - ZDP {% endblock %} {%
block content %}
<section class="row">
  <article class="col-md-6">
    <div class="mt-4" id="account_info">
      <h2>Account Information</h2>
      <p><strong>Username:</strong> {{ current_user.username }}</p>
      <p><strong>Email:</strong> {{ current_user.email }}</p>
      <p><strong>Account Created:</strong> {{ current_user.created_at }}</p>
      <p><strong>Last Updated:</strong> {{ current_user.updated_at }}</p>
    </div>
  </article>
</section>
{% endblock %}
