<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
		<!-- SEO keywords -->
		<meta name="keywords" content="cannabis strains, marijuana strains, strain database, strain information, strain search, cannabis filters, marijuana filters, terpene profiles, THC concentration, CBD concentration, strain effects, strain flavors, strain aromas, medical cannabis strains">
		
		<!-- SEO description -->
		<meta name="description" content="STRAIN.gg - A free and public platform to explore, filter, and sort strains of cannabis based on parameters like concentration, terpene profiles, effects, and more.">
	  
		<!-- Bootstrap CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMkSGZOFl" crossorigin="anonymous">
	  
		<title>STRAIN.gg - Cannabis Strain Database and Filters</title>
	  </head>
	<body>

	<div class="container">
	</div>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSGFpoO/WM5iIFN5cbGOytN6U51h6gAZ/1W8W10U4e6Ugk6zbt" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-M7XA0bDp_zHN1Dz_ORpWotrAF64N1g4WOgJRYW_i0q3v8sju7jF6yrgt5fs2t5+" crossorigin="anonymous"></script>
	</body>
</html>
