<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
		<!-- SEO keywords -->
		<meta name="keywords" content="cannabis strains, marijuana strains, strain database, strain information, strain search, cannabis filters, marijuana filters, terpene profiles, THC concentration, CBD concentration, strain effects, strain flavors, strain aromas, medical cannabis strains">
		
		<!-- SEO description -->
		<meta name="description" content="STRAIN.gg - A free and public platform to explore, filter, and sort strains of cannabis based on parameters like concentration, terpene profiles, effects, and more.">

		<!-- FavIco -->
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">

		<!-- Bootstrap CSS -->
		<link href="{{ url_for('static', filename='lib/bootstrap.min.css') }}" rel="stylesheet">
<div class="container">
  <img src="{{ url_for('static', filename='images/header.png') }}"
       alt="Logo"
       width="auto"
       height="200"
       class="img-responsive img-rounded mx-auto d-block">
</div>
		<title>{% block title %}STRAIN.gg{% endblock %}</title>

		<!-- Richard CSS -->
		<link href="{{ url_for('static', filename='styles/richard.css') }}" rel="stylesheet">
	</head>
	<body class="bg-dark">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-success">
				<a class="navbar-brand" href="#">
					<img src="{{ url_for('static', filename='images/header.png') }}"
					alt="Logo" width="auto" height="30">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/clouds/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/clouds/about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/clouds/contact">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/clouds/strains">Strains</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/clouds/stores">Stores</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/clouds/faq">FAQ</a>
						</li>
					</ul>
					<ul class="navbar-nav nav-account">
						{% if not current_user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link" href="/clouds/signup">Sign Up</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/clouds/signin">Sign In</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('web_routes.account', user_id=current_user.id) }}">My Account</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/clouds/signout">Sign Out</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>
		<main role="main" class="container">
			{% for message in get_flashed_messages() %}
				<div class="alert alert-danger">{{ message }}</div>
			{% endfor %}
			{% block content %}{% endblock %}
			<!-- Pass Role to JS-->
			{% if user_role %}
				<script>
					const userRole = "{{ user_role }}";
					const userRoles = JSON.parse('{{ user_roles | tojson | safe }}');
					const userId = "{{ user_id }}";
				</script>
			{% endif %}
			<script>
				const signInUrl = "{{ url_for('web_routes.signin') }}";
			</script>
			{% block script %}{% endblock %}
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='lib/popper.min.js') }}"></script>
			<script src="{{ url_for('static', filename='lib/bootstrap.min.js') }}"></script>
			<script src="{{ url_for('static', filename='lib/popper_two.js') }}"></script>
			<script src="{{ url_for('static', filename='lib/bootstrap_two.js') }}"></script>
			{% block display %}STRAIN.gg{% endblock %}
		</main>
		<footer class="bg-dark mt-3 py-2">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h5 class="text-white medium">About Us</h5>
						<p class="text-white small">We are here to help you in your journey</p>
					</div>
					<div class="col-md-4">
						<h5 class="text-white small">Quick Links</h5>
						<ul class="list-unstyled">
							<li><a href="{{ url_for('web_routes.index') }}" class="text-success">Home</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h5 class="text-white small">Contact Us</h5>
						<p class="text-white small">Email: Coming Soon</p>
						<p class="text-white small">Phone: Coming Soon</p>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col text-center">
						<p class="text-white small">&copy; 2023 Strain.gg. All rights reserved.</p>
						<p class="text-white small">
							The information provided on this website is for entertainment and general 
							informational purposes only and should not be relied upon for making any medical 
							decisions. While we strive to ensure the accuracy of the content, we make no 
							guarantees or warranties regarding its completeness, reliability, or accuracy. 
							Any action you take based on the information on this website is strictly at your 
							own risk, and we will not be liable for any losses or damages arising from your 
							reliance on the content. It is always recommended to consult with a healthcare 
							professional or expert before taking any action based on the information 
							provided here.
						</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
