{% extends "base.html" %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 text-white">Signup</h1>
        <form action="{{ url_for('web_routes.signup') }}" method="post">
            <div class="form-group text-white">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group text-white">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group text-white">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" id="role" name="role">
                    <option value="{{ UserRole.CLOUD_CONSUMER.value }}">CLOUD_CONSUMER</option>
                    <option value="{{ UserRole.CLOUD_PRODUCER.value }}">CLOUD_PRODUCER</option>
                    <option value="{{ UserRole.CLOUD_VENDOR.value }}">CLOUD_VENDOR</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
        </form>
    </div>
{% endblock %}
