{% extends "base.html" %} {% block script %} {% endblock %}{% block content %}
{% import 'macros.html' as macros %}

<div class="container">
  <h1 class="mt-5">Stores</h1>

  {% if current_user.has_role('CLOUD_CHASER') or
  current_user.has_role('CLOUD_VENDOR') %}
  <!-- Create Store Button -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#createStoreModal"
  >
    Create Store
  </button>

  <!-- Create Store Modal -->
  <div
    class="modal fade"
    id="createStoreModal"
    tabindex="-1"
    aria-labelledby="createStoreModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createStoreModalLabel">Create Store</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form
          action="{{ url_for('store_routes.add_store') }}"
          method="post"
          enctype="multipart/form-data"
        >
          {{ add_store_form.csrf_token }}
          <div class="modal-body">
            {{ macros.render_field(add_store_form.name, class_="form-control")
            }} {{ macros.render_field(add_store_form.location,
            class_="form-control") }} {{
            macros.render_field(add_store_form.operating_hours,
            class_="form-control") }}
            <div class="mb-3">
              <label for="related_strains" class="form-label"
                >Related Strains</label
              >
              {% for id, name in add_store_form.related_strains.choices %}
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="{{ id }}"
                  id="related_strains{{ id }}"
                  name="related_strains"
                />
                <label class="form-check-label" for="related_strains{{ id }}"
                  >{{ name }}</label
                >
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Store Image</label>
            <input type="file" class="form-control" id="image" name="image" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">Create Store</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    {% for store in stores %}
    <div class="col-lg-4 mb-4">
      <div class="card">
        <!-- Update Store Modal -->
        <div
          class="modal fade"
          id="updateStoreModal{{ store.id }}"
          tabindex="-1"
          aria-labelledby="updateStoreModalLabel{{ store.id }}"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5
                  class="modal-title"
                  id="updateStoreModalLabel{{ store.id }}"
                >
                  Update Store
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form
                action="{{ url_for('store_routes.update_store', id=store.id) }}"
                method="post"
                enctype="multipart/form-data"
              >
                {{ update_store_form.csrf_token }}
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="name" class="form-label">Store Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      value="{{ store.name }}"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input
                      type="text"
                      class="form-control"
                      id="location"
                      name="location"
                      value="{{ store.location }}"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="operating_hours" class="form-label"
                      >Operating Hours</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="operating_hours"
                      name="operating_hours"
                      value="{{ store.operating_hours }}"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="related_strains" class="form-label"
                      >Related Strains</label
                    >
                    {% for id, name in update_store_form.related_strains.choices
                    %}
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="{{ id }}"
                        id="related_strains{{ id }}"
                        name="related_strains"
                        {%
                        if
                        id
                        in
                        store.related_strains
                        %}checked{%
                        endif
                        %}
                      />
                      <label
                        class="form-check-label"
                        for="related_strains{{ id }}"
                        >{{ name }}</label
                      >
                    </div>
                    {% endfor %}
                  </div>
                  <div class="mb-3">
                    <label for="image" class="form-label">Store Image</label>
                    <input
                      type="file"
                      class="form-control"
                      id="image"
                      name="image"
                    />
                    <small class="form-text text-muted"
                      >Current image: {{ store.image_filename }}</small
                    >
                  </div>
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Update Store
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <img
          src="{{ url_for('static', filename='images/store_images/' + store.image_filename) }}"
          class="card-img-top"
          alt="Store Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ store.name }}</h5>
          <p>{{ store.related_strains }}</p>
          <p class="card-text">Location: {{ store.location }}</p>
          <p class="card-text">Operating Hours: {{ store.operating_hours }}</p>
          <p class="card-text">Owner ID: {{ store.owner_id }}</p>

          <!-- Dropdown list of strains -->
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Strains
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for strain in store.related_strains %}
              <li><a class="dropdown-item" href="#">{{ strain.name }}</a></li>
              {% endfor %}
            </ul>
          </div>

          {% if current_user.id == store.owner_id or current_user.role ==
          'CLOUD_CHASER' %}
          <!-- Delete and Update buttons -->
          <button
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal{{ store.id }}"
          >
            Delete
          </button>
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#updateStoreModal{{ store.id }}"
          >
            Update
          </button>
          {% endif %}
        </div>
      </div>

      <!-- Delete confirmation modal -->
      <div
        class="modal fade"
        id="deleteModal{{ store.id }}"
        tabindex="-1"
        aria-labelledby="deleteModalLabel{{ store.id }}"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel{{ store.id }}">
                Confirm Delete
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete {{ store.name }}?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <form
                action="{{ url_for('store_routes.delete_store', store_id=store.id) }}"
                method="post"
              >
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" class="btn btn-danger" value="Delete" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
