{% extends "base.html" %} 
{% import 'macros.html' as macros %}

{% block content %}
<div class="container">
  <h1 class="mt-5">Strains</h1>
  <!-- Create Strain Button -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#createStrainModal"
  >
    Create Strain
  </button>
  <!-- Create Strain Modal -->
  <div
    class="modal fade"
    id="createStrainModal"
    tabindex="-1"
    aria-labelledby="createStrainModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createStrainModalLabel">Create Strain</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          {{ macros.render_form(add_strain_form, 'strain_routes.add_strain', 'Create Strain') }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% for strain in strains %}
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ strain.name }}</h5>
          <button
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal{{ strain.id }}"
          >
            Delete
          </button>
        </div>
      </div>
      <!-- Delete confirmation modal -->
      <div
        class="modal fade"
        id="deleteModal{{ strain.id }}"
        tabindex="-1"
        aria-labelledby="deleteModalLabel{{ strain.id }}"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel{{ strain.id }}">
                Confirm Delete
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete {{ strain.name }}?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <form
                action="{{ url_for('strain_routes.delete_strain', strain_id=strain.id) }}"
                method="post"
              >
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" class="btn btn-danger" value="Delete" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
